/* General */
html {background-color:#fff; height:100%;}
body {font:16px/26px Arial, Helvetica, sans-serif; width:940px; padding:0 10px; margin:0 auto; background:#fff; color:#000;}
a {color:#004b91; text-decoration:none;}
form {margin:0; padding:0;}

/* Framework overrides */
.framework {line-height:1; cursor:default;}
.framework h1, .framework h2, .framework h3, .framework h4, .framework h5, .framework h6, .framework p, .framework ol, .framework ul, .framework li {margin:0; padding:0; font-size:13px;}
.framework ol, .framework ul, .framework li {list-style:none;}
.framework abbr {border-bottom:0;}

/* Element tree */
#header {position:absolute; top:0; left:50%; width:940px; height:56px; margin:0 0 0 -470px;}
	#site_name {position:absolute; top:10px; left:0;}
		#site_name a {display:block; width:172px; height:48px;}
		#site_name a:hover {width:180px; background:url("img/logo_kalahari_hover.png") 0 0 no-repeat;}
			#site_name a:hover img {display:none;}
#content {margin-top:77px; line-height:1.3;}
#footer {clear:both; padding-bottom:10px; margin-top:20px;}
	#footer_trailer {color:#666;}
		#footer_terms {clear:both; font-size:10px;}
			#footer_terms a {display:inline-block; padding-right:5px; border-right:#ccc solid 1px; margin-right:5px;}


/* test styles */


/*css for Table View*/
table, td, th {    
    text-align: left;
}

table {
    width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-spacing: 0px; 
}
table thead  tr{
	    background: rgba(204, 204, 204, 0.22);
        height: 60px;

}
table thead tr th{
	    border-bottom: 1px solid #ccc;
}
table thead tr th:nth-child(1){
	width:350px;
	padding: 15px;
}
table thead tr th:nth-child(2),table thead tr th:nth-child(3),table thead tr th:nth-child(4){
	border-bottom:none;
}

table tbody tr th{
	border-bottom: 1px solid #ccc;
       height: 50px;
       padding-left: 20px;
	   border-bottom: 1px solid #ccc;
       height: 50px;;
}

table thead tr .site span,table thead tr .market_place1 span, table thead tr .market_place2 span{
		position: absolute;
		top: 60px;
		height: 69px;
		text-align: right;
		margin-left: -2px;
		line-height: 75px;
		padding-right: 10px;
}

 table thead tr .market_place1 span, table thead tr .market_place2 span{
	 background: rgba(204, 204, 204, 0.22);
    width: 123px;
    border-radius: 5px 5px 0px 0px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
table thead tr .site span{
	background: rgba(255, 141, 0, 0.22);
    width: 137px;
    border-radius: 5px 5px 0px 0px;
    border-top: 1px solid rgba(255, 141, 0, 0.9);
    border-left: 1px solid rgba(255, 141, 0, 0.9);
	border-right: 1px solid rgba(255, 141, 0, 0.9);

 

}
table tbody tr .site span{
	color: #ff0000;
	margin-left: 45%;

} 
table tbody tr td:nth-child(3){
	border-right:1px solid #ccc;	
	
} 
table tbody tr  .market_place span{
	color:#ccc;
	margin-left: 45%;
}
table  tr .site{
	    border-left: 1px solid rgba(255, 141, 0, 0.9);
        width: 165px;
		border-bottom: 1px dashed #ccc;
		border-right: 1px solid #ccc;
}
.market_place {
	    border-bottom: 1px dashed #ccc;
}
.market_place:nth-last-child(1){
	    border-bottom: 1px dotted #ccc;
}
.market_place:nth-last-child(2){
	    border-top: none;
}

/*css for Input Field*/
input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.maxWidth{
	width:38%;
}
/*css for save and add New Row Button*/
.button {
    background-color: #CCC;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;	
}
/*css for :disabled*/
.diabled-class{
	opacity: 0.3;
}
.enable-class{
	opacity: 0.9;
}
/*css for edit and Delete Image*/
.imgWidth{
	width: 20px;
    height: 25px;
    background-size: 20px 20px;
	cursor: pointer;	
}
