   <header>
	<h1>Front-End Development Assessment</h1>
</header>
<section>
	<article>

			<div id="other_formats" class="panel panel_chrome">
				<div class="panel_content">
					<table>
						<thead>
						<tr>
							<th scope="col"><span>Other Formats</span></th>
							<th scope="col" class="site amount"><span>price</span></th>
							<th scope="col" class="market_place1 amount"><span>New from</span></th>
							<th scope="col" class="market_place2 amount"><span>Used from</span></th>
							<th scope="col" class="market_place amount"><span></span></th>
							<th scope="col" class="market_place amount"><span></span></th>
						</tr>
						</thead>
						<tbody>
							<tr class="active" ng-repeat="current in $ctrl.getPortalData">
								<th scope="col"><a href="#">{{current.otherFormat}}</a></th>
								<td scope="col" class="site amount" ><span>{{current.price}}</span></td>
								<td scope="col" class="market_place amount" ><span>{{current.newForm}}</span></td>
								<td scope="col" class="market_place amount"><span>{{current.usedFrom}}</span></td>
								<td scope="col" class="market_place amount"><span ng-click="$ctrl.edit(current)"> <img ng-src="assets/image/edit-icon.png" class="imgWidth"> </span></td>
								<td scope="col" class="market_place amount"><span ng-click="$ctrl.remove(current)"><img ng-src="assets/image/remove-icon.png" class="imgWidth"></span></td>
							</tr>
						</tbody>
					</table>
					<p ng-show="$ctrl.zeroLength">Please Add New Rows</p>
				</div>
			</div>
	</article>
</section>
<footer>
	<form name="portalForm">
		<input type="text"  placeholder ="Other Formats " class="maxWidth" ng-model="current.otherFormat" required> 
		<input type="text"  placeholder ="Price "  ng-model="current.price" required>
		<input type="text"  placeholder ="New From "  ng-model="current.newForm" required>
		<input type="text"   placeholder ="Used From"  ng-model="current.usedFrom" required> 
		<button type="button" class="button" ng-click = "$ctrl.addItem(current)" ng-hide="$ctrl.editOpen" ng-disabled="portalForm.$invalid" ng-class="{'diabled-class':portalForm.$invalid,'enable-class':!portalForm.$invalid}">Add New Rows</button>
		<button type="button" class="button"  ng-click = "$ctrl.save(current)" ng-hide="$ctrl.addOpen">Update Details</button>

	</form>
</footer>